<h2>Seach by Region {{activeRegion | titlecase}}</h2>
<hr><!--title case is a pipe to show first character Uppercase-->

<div class="row">
    <div class="col">
        <button *ngFor="let region of regions"
                class="btn btn-outline-primary"
                (click)="activateRegion(region)"
                >
            {{region}}
        </button>
    </div>
</div>

<hr>

<div class="row" *ngIf="byRegionResults.length>0"><!--*ngIf="showTable" was the old way--> 
    <div class="col">
        <app-countries-table [dataFromParent]="byRegionResults" ></app-countries-table>
    </div>
</div>