<h2>By Country</h2>
<hr>

<div class="row">
    <div class="col">
        <app-input-component (termEmitter)="getTermEmitter($event)" (isNotFoundEmitter)="getIsNotFoundEmitter($event)" (byCountryResultsEmitter)=" getByCountryResults($event)"></app-input-component>
    </div>
   
</div>

<hr>

<div class="alert alert-danger" *ngIf="isNotFound">
    Nothing found with the term {{term}}
</div>

<div class="row" *ngIf="byCountryResults.length>0"><!--*ngIf="showTable" was the old way--> 
    <div class="col">
        <app-countries-table [dataFromParent]="byCountryResults"></app-countries-table>
    </div>
</div>