<h2>By Country</h2>
<hr>

<div class="row">
    <div class="col">
        <form (ngSubmit)="search()" autocomplete="off">
            <input type="text" 
            name="termino"
            class="form-control"
            [(ngModel)]="term"
            placeholder="search country..."/>
        </form>
    </div>
   
</div>

<hr>

<div class="alert alert-danger" *ngIf="isNotFound">
    Nothing found with the term {{term}}
</div>

<div class="row" *ngIf="byCountryResults.length>0"><!--*ngIf="showTable" was the old way--> 
    <div class="col">
        <table class="table table-hover" >
            <thead>
                <tr>
                    <th>#</th>
                    <th>Flag</th>
                    <th>Name</th>
                    <th>Population</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let country of byCountryResults; let i=index">
                    <td>{{i+1}}</td>
                    <td>
                        {{country.flag}}
                    </td>
                    <td>{{country.name.official}}</td>
                    <td>{{country.population | number }}</td>
                    <td><a [routerLink]="['/country', country.cca2]" routerLinkActive="router-link-active">Watch more</a></td>

                </tr>

            </tbody>
        </table>
    </div>
</div>