<h2>By Country</h2>
<hr>

<div class="row">
    <div class="col">
        <app-input-component 
        [placeholder]="placeholderText"
        (termEmitter)="search($event)"
        (onDebounce)="suggestions($event)"></app-input-component>
    </div>
   
</div>

<ul class="list-group">
    <li class="list-group-item list-group-item-action" *ngFor="let country of suggestedCountries" [routerLink]="['/country', country.cca2]">
        {{country.name.official}}, <strong>Variants: </strong>{{country.altSpellings}}
    </li>
</ul>

<hr>

<div class="alert alert-danger" *ngIf="isNotFound">
    Nothing found with the term {{term}}
</div>

<div class="row" *ngIf="byCountryResults.length>0"><!--*ngIf="showTable" was the old way--> 
    <div class="col">
        <app-countries-table [dataFromParent]="byCountryResults" ></app-countries-table>
    </div>
</div>