<div class="row container mt-4">

    <div class="col-3">

        <h2>Searches</h2>
        <hr>
        <ul class="list-group">
            <li class="list-group-item" >Search Country</li>
            <li class="list-group-item" routerLink="/regions" routerLinkActive="active">By Region</li>
            <li class="list-group-item" routerLink="/capitals" routerLinkActive="active">By Capital</li>

        </ul>

    </div>

    <!-- this col class takes all space which is left by col-3-->
    <div class="col">
        
        <router-outlet></router-outlet>
    </div>

    

</div>


