<h2>By Capitals</h2>
<hr>
<div class="row">
    <div class="col">
        <app-input-component 
        [placeholder]="placeholderText"
        (termEmitter)="search($event)"></app-input-component>
    </div>
   
</div>

<hr>

<div class="alert alert-danger" *ngIf="isNotFound">
    Nothing found with the term {{term}}
</div>

<div class="row" *ngIf="byCapitalResults.length>0"><!--*ngIf="showTable" was the old way--> 
    <div class="col">
        <app-countries-table [dataFromParent]="byCapitalResults" ></app-countries-table>
    </div>
</div>